body {
  margin: 0;
  padding: 32px 0;
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
  background: slateblue;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.box {
  animation: grow-and-shrink 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
